@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p><a href="Home/Problema1">Problema1</a></p>
    <p><a href="Home/Problema2">Problema2</a></p>
    <p><a href="Home/Problema3">Problema3</a></p>
    <p><a href="Home/Problema4">Problema4</a></p>
</div>
